@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
}

h1 {

    /* Alineación del texto */
    text-align: center;

    /* Grosor de la fuente negrita */
    font-weight: bold;
}

#photo {

    /* Ancho del elemento */
    width: 200px;

    /* Alto del elemento */
    height: auto;
}

.subtitle {

    /* Color del texto en rgba */
    color: rgb(107 114 128 / 0.89);

    /* Transformación del texto a mayúsculas */
    text-transform: uppercase;
}

section {

    /* margen (espacio externo) superior, derecho, abajo e izquierda */
    margin: 4px 2px 8px 2px;

    /* borde de grosor 0.2 en puntos, estilo sólido y color hexadecimal #cedddd  */
    border: 0.2pt solid #cedddd;

    /* relleno (espacio interno) de 
    1.5% en la parte superior e inferior y 
    0.8% a los lados derecho e izquierdo. */

    padding: 1.5% 0.8%;

    /* reemplazan el 0.8% inicial en el relleno izquierdo y derecho, 
    dándoles un valor específico de 1.2% para esos lados. */

    padding-left: 1.2%;
    padding-right: 1.2%;

    /* borde redondeado con un radio de 5 píxeles */

    /* en navegadores basados en WebKit, 
   como versiones antiguas de Safari y Chrome. */
    -webkit-border-radius: 5px;

    /* en navegadores antiguos de Mozilla, 
   como Firefox.  */
    -moz-border-radius: 5px;

    /* en navegadores modernos. */
    border-radius: 5px;


    /* sombra a un elemento */

    -webkit-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
    -moz-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
    box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
}

a {
    text-decoration: none;
}

nav a:hover {
    transition: 1s;
    text-decoration: underline;
}

li {
    list-style: none;
}

footer ul {
    text-align: center;
}

nav ul {

    /* Modelo de diseño flexible */
    display: flex;
    justify-content: space-around;

}

section form {

    /* Modelo de diseño en cuadrícula */
    display: grid;
    row-gap: 0.5rem;

}

#resumen {

    /* Modelo de diseño en cuadrícula */
    display: grid;

    /* Distribuye el espacio entre y alrededor
             de los items en el eje principal */
    justify-content: space-around;

    /* Alineación de un elemento dentro del bloque
        que lo contiene, considerando el eje transversal */
    align-items: stretch;

    /* Plantilla con áreas en la cuadrícula */
    grid-template-areas: "A D"
        "B D";
}

#resumen h2 {
    grid-area: A;
}

#resumen p {
    grid-area: B;
}

#resumen img {
    grid-area: D;
}